
h1 {
    font-size: 42px;
}

.content {
    width: 75%;
    padding-left: 12.5%;

    
}

#wrapper {
    text-align: center;
    width: 1024px;
    padding-left: 15%;
}

li {
    list-style-type: none;
}

ul{
    padding-left: 0;
}

footer{
    font-size: 8px;
    text-align: right;
}
#opendoor a{
    text-decoration: none;
    color: black;
}
#door {
    display: block;
  }
  
#opendoor {
    display: none;

  }
  
.exit {
    width: auto;
    display: inline-block;
  }
  
.exit:hover #door {
    display: none;
  }
  
.exit:hover #opendoor {
    display: block;
  }